
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
    height: 5em;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.left-nav{
    font-family: "Pacifico", cursive;
    font-size: 1.3rem;
}

.left-nav a{
    text-decoration: none;
    color: black
}

.right-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-nav li{
    list-style: none;
    padding: 0 2.3rem;
}

.right-nav li a{
    text-decoration: none;
    color: white
}

body{
    background-color: #000;
    font-family: "Poppins", sans-serif;
    color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 100vh;
}

.middle-header{
    padding: 1.3em;
    border-radius: 1.3rem;
    color: black;
    border: 2px solid black;
    font-size: 1.5rem;
}

.project{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: green;
    height: 80vh;
}

.project h2 {
    padding: 1rem;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.footer{
    color: white;
}

