* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #EFE7DA;
    --secondary-color: #E5625E;
    --accent-color: #004FFF;
    --white-color: #F0F7EE;
    --black: #39393A;
}

/* --------------------------------------------------------------------- */

body{
    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
    color: var(--black);
    scroll-behaviour: smooth;
}

/* --------------------------------------------------------------------- */

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EFE7DA80;
    height: 5em;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    z-index: 3;
    color: var(--black)
}

.left-nav{
    font-family: "Pacifico", cursive;
    font-size: 1.3rem;
}

.left-nav a{
    text-decoration: none;
    color: var(--black)
}

.left-nav a:hover{
    color: var(--accent-color)
}

.right-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-nav li{
    list-style: none;
    padding: 0 2.3rem;
}

.right-nav li a{
    text-decoration: none;
    color: var(--black);
}

.right-nav li:nth-child(4) a{
    color: var(--accent-color);
}

.right-nav li a:hover{
    color: var(--accent-color);
}

.menu-toggle{
    opacity: 0;
}

/* --------------------------------------------------------------------- */

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.middle-header{
    padding: 1.3em;
    color: var(--black);
    font-size: 1.5rem;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 31rem;
}

.img-container{
    width: 15%;
    height: 30%;
    overflow: hidden;
/*    border: 2px solid red;*/
    border-radius: 11%;
}

.img-container img{
    object-fit: cover;
    width: 100%;
    height: 177%;
    position: relative;
    opacity: 0;
    animation: slideFromLeft 1s ease-out forwards;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* --------------------------------------------------------------------- */

.project{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.project p {
    font-size: 1.3em;
    padding: 0.5em;
}

.box{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 2rem;
}

.project-card{
    border: 1px solid black;
    padding: 1em;
    background-color: var(--white-color);
    color: var(--black);
    max-width: 20rem;
}

.project-card img{
    max-width: 19rem;
    max-height: 19rem;
}

.project-card p{
    font-size: 1em;
    padding: 0;
}

.project-card button{
    padding: 0.3em;
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    border-radius: 0.3em;
}

.project-card button a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.3em;
}

/* --------------------------------------------------------------------- */

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: var(--black);
}

.contact h3{
    padding-bottom: 1em;
}
.box a img{
    max-width: 3rem;
}

/* --------------------------------------------------------------------- */

.footer{
    height: 1.8rem;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
    
    .nav{
        justify-content: space-around;
        align-items: flex-start;
        overflow: auto;
        height: 10rem;
        padding: 0.3rem 0;
    }
    
    .menu-toggle{
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        position: absolute;
        right: 90px;
        cursor: pointer;
    }

    .right-nav {
        display: none;
        height: 40%;
    }

    .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0.5rem 0;

        position: absolute;
        width: 100%;
        heught: 20%;
        top: 50px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        flex-direction: column;
    }
    

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.5rem;
    }

    .middle-header{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .img-container{
       width: 10rem; 
        height: 10rem;
    }

    .project{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
    }

    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact .box{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}


